In [2]:
import pandas as pd, matplotlib

In [6]:
df = pd.read_json("/home/maxweber/Notbook/datalake/Gold/twitter_datascience/process_date=2025-01-31/part-00000-fcbd87ce-ae59-4c90-9808-94b903d952ac-c000.json", lines=True)

In [8]:
df.head()

  create_date  n_twwits  n_like  n_quote  n_reply  n_retweet weekday
0  2025-01-29        10     630      561      316        374     Wed
1  2025-01-30        10     518      537      336        322     Thu

In [9]:
df["create_date"]=pd.to_datetime(df['create_date'])